:root{
    --bk: #f7dde9;
    --text: #030211;
}

.darkmode{
    --bk: #030211;
    --text: #f7dde9;
}

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    background-color: var(--bk);
    color: var(--text);
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bk);
    display: flex;
    justify-content: center;
    align-items: center;
}
